input{
    border: 0px;
}
button{
    border: 0px;
}
.sl-font-size-14px-sm{
    background-color: #F4F4F4;
    font-size: 14px;
}
.sl-font-size-16px-md{
    background-color: #F4F4F4;
    font-size: 1.6rem;
}
.sl-font-size-18px-lg{
    background-color: #F4F4F4;
    font-size: 18px;
}
.sl-font-size-26px-2lg{
    background-color: #F4F4F4;
    font-size: 26px;
}
::-webkit-input-placeholder{
    font-size: 1rem;
}
:-moz-placeholder {/* Firefox 18- */
    font-size: 14px;
}
::-moz-placeholder{/* Firefox 19+ */
    font-size: 14px;
}
:-ms-input-placeholder {
    font-size: 14px;
}
.sl-height-40px-width-100percent{
   height: 40px;
    width: 100%;
}
.sl-background-color-fcc{
    background-color: #FFCCCC;
}
.sl-grid{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.sl-grid-row-center{
    display:flex;
    align-items: center;
    justify-content: center;
}
.sl-grid-row-right{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.sl-flex-row-center-flex-end{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.sl-flex-row-flex-end-flex-end{
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.sl-flex-row-flex-start-space-between{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

/*.sl-flex-row-flex-start-space-between{*/
    /*display:flex;*/
    /*align-items: flex-start;*/
    /*justify-content: space-between;*/
/*}*/
.sl-font-color-CC9900{
    color: #CC9900;
}
 .sl-font-color-FF6666{
     color: #FF6666;
 }
 .sl-width-percent100{
     width:100%;
 }
.sl-width-percent25{
    width:25%;
}
.sl-width-percent70{
    width:70%;
}
.sl-width-percent30{
    width:30%;
}
.sl-width-24px{
    width: 24px;
}
.sl-height-percent100{
    height:100%;
}
.sl-height-20px{
    height:20px;
}
.sl-height-percent25{
     height:25%;
 }

.sl-height-percent50{
    height:50%;
}
.sl-height-percent30{
    height:30%;
}
.sl-flex-row-center-flex-start{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.sl-flex-row-center-space-between{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.sl-flex-row-center-space-around{
     display:flex;
     align-items: center;
     justify-content: space-around;
 }

.sl-grid-flex-row-around{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.sl-icon{
    color: #ff0000;

}
a:before{
    color: #BAB9BA;
}
a:active{
    color: #BAB9BA;
}
.sl-font-color-BAB9BA{
    color: #BAB9BA;
}
.sl-background-color-BAB9BA{
    background-color: #BAB9BA;
}
.sl-font{
    font-size: 62.5%;
    color: #AEAEAE;
}
.sl-font-color-white{
    color: #FFFFFF;
}
.sl-font-color-999999{
    color: #999999;
}
.sl-margin-left{
    margin-left: 10px;
}
.sl-margin-left-0{
    margin-left: 10px;
}
.sl-margin-right-5px{
    margin-right: 5px;
}
.sl-margin-right-06rem{
    margin-right: .6rem;
}
.sl-margin-right-2rem{
    margin-right: 2rem;
}
.sl-margin-left-2rem{
    margin-left: 2rem;
}
.sl-margin-top-06rem{
    margin-top: .6rem;
}
.sl-margin-top-1rem{
    margin-top: 1rem;
}
.sl-margin-top-08rem{
    margin-top: .8rem;
}
.sl-margin-left-5px{
    margin-left: 5px;
}
.sl-margin-left-10px{
    margin-left: 10px;
}
.sl-margin-left-1dot1rem{
    margin-left: 1.1rem
}
.sl-margin-right{
    margin-right: 10px;
}
.sl-padding-left-08rem{
    padding-left:.8rem;
}
.sl-padding-left-03rem{
    padding-left:.3rem;
}
.sl-background-color-yellow{
    background-color: #FFCC33;
}
.sl-border-radius-1000px{
    border-radius: 1000px;
}
.sl-margin-0px-10px{
    margin: 0px 10px;
}
.sl-margin-0rem-08rem{
    margin: 0rem .8rem;
}
.sl-margin-auto{
    margin: auto;
}
.sl-margin-0rem-06rem{
    margin: 0rem .6rem;
}
.sl-margin-0rem-04rem{
    margin: 0rem .4rem;
}
.sl-margin-08rem-0rem{
    margin: .8rem 0rem;
}
.sl-margin-02rem-0rem{
    margin: .2rem 0rem;
}
.sl-padding-0rem-08rem{
    padding: 0rem .8rem;
}
.sl-padding-0rem-03rem{
    padding: 0rem .3rem;
}
.sl-padding-08rem-04rem{
    padding: .8rem .4rem;
}
/*.sl-padding-08rem-08rem{*/
    /*padding: .8rem .8rem;*/
/*}*/
.sl-padding-08rem{
     padding: .8rem;
 }
.sl-padding-04rem{
    padding: .4rem;
}
.sl-padding-02rem{
    padding: .2rem;
}
.sl-padding-bottom-1rem{
    padding-bottom: 1rem;
}
.sl-padding-05rem{
     padding: .5rem;
 }
.sl-padding-bottom-49px{
    padding-bottom: 49px;
}
.sl-padding-0rem{
    padding: 0rem;
}
.sl-border-radius-08rem-08rem-0rem-0rem{
     border-radius: .5rem .5rem 0rem 0rem;
 }
.sl-border-radius-0rem-0rem-08rem-08rem{
    border-radius: 0rem 0rem .5rem .5rem;
 }
.sl-border-radius-08rem{
    border-radius: .5rem;
}
.sl-margin-08rem-08rem-0rem-08rem{
    margin: .8rem .8rem 0rem .8rem;
}
.sl-margin-0rem-08rem-08rem-08rem{
    margin: 0rem .8rem .8rem .8rem;
}
.sl-margin-left-08rem{
     margin-left: .8rem ;
 }
.sl-margin-left-02rem{
    margin-left: .2rem ;
}
.sl-margin-left-6rem{
    margin-left: 6rem ;
}
.sl-margin-left-7rem{
    margin-left: 7rem ;
}
.sl-margin-right-08rem{
    margin-right: .8rem ;
}

.sl-margin-0px-10px-10px-10px{
    margin: 0px 10px 10px 10px;
}
.sl-margin-10px-10px{
    margin: 10px 10px;
}
.sl-border-radius-
.sl-margin-10px-20px{
    margin: 10px 20px;
}
.sl-padding-5px-0px{
    padding: 10px 0px;
}
.sl-margin-bottom-5px{
    margin-bottom: 5px;
}
.sl-margin-bottom-3rem{
    margin-bottom: 3rem;
}
.sl-margin-bottom-49px{
     margin-bottom: 49px;
 }
.sl-margin-bottom-4rem{
    margin-bottom: 5rem;
}
.sl-margin-bottom-0px{
    margin-bottom: 0px;
}
.sl-background-color-white{
    background-color: #FFFFFF;
}
.sl-background-color-black{
    background-color: black;
}
.sl-icon-color-white{
    color: #FFFFFF;
}
.sl-icon-color-red{
    color: red;
}
.sl-icon-color-dd514c{
    color: #dd514c;
}
.sl-icon-color-FF9966{
    color: #FF9966;
}
.sl-font-color-gray{
    color:#999999;
}
.sl-font-color-red{
    color: red;
}
.sl-font-size-12px{
    font-size:12px;
}
.sl-font-size-10px{
    font-size:10px;
}
.sl-font-size-8px{
    font-size:8px;
}
.sl-font-size-08rem{
    font-size: .8rem;
}
.sl-font-size-1dot5rem{
    font-size: 1.5rem;
}
.sl-font-size-14px{
    font-size:14px;
}
.sl-font-size-16px{
    font-size:16px;
}
.sl-padding-2px-5px{
    padding: 2px 5px;
}

.sl-padding-02rem-08rem{
     padding: .2rem .8rem;
 }
.sl-padding-02rem-3rem{
    padding: .2rem 3rem;
}
.sl-margin-04rem-04rem-04rem-08rem{
    margin: .4rem .4rem .4rem .8rem;
}
.sl-margin-04rem-08rem-04rem-04rem{
    margin: .4rem .8rem .4rem .4rem;
}
.sl-padding-02rem-0rem{
    padding: .2rem 0rem;
}
.sl-padding-top-04rem{
     padding-top: .4rem;
}
.sl-padding-top-02rem{
    padding-top: .2rem;
}
.sl-flex-row-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sl-flex-column-center-center{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.sl-flex-column-center-flex-start{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
}
.sl-flex-column-flex-start-center{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
}
.sl-flex-column-flex-end-center{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-end;
}
.sl-flex-column-flex-start-space-between{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: flex-start;
}
.sl-padding-top-10px{
    padding-top: 10px;
}
.sl-padding-top-1rem{
    padding-top: 1rem;
}
.sl-padding-top-2rem{
    padding-top: 2rem;
}
.sl-padding-right-10px{
    padding-right: 10px;
}
.sl-padding-right-10px{
    padding-right: 10px;
}
.sl-padding-right-0rem{
    padding-right: 0rem;
}
.sl-padding-right-03rem{
    padding-right: .3rem;
}
.sl-border-radius-percent50{
    border-radius: 50%;
}
.sl-padding-5px{
    padding: 5px;
}
.sl-padding-1rem{
    padding: 1rem;
}
.sl-border-1px-solid-D3D3D3{
    border:1px solid #D3D3D3;
}
.sl-border-1px-solid-F4F4F4{
    border:1px solid #F4F4F4;
}
.sl-border-1px-solid-red{
    border:1px solid red;
}
.sl-border-1px-solid-EEEEEF{
    border:1px solid #EEEEEF;
}

.sl-background-color-F4F4F4{
    background-color : #D4D4D4;
}
.sl-background-color-F9F9FA{
    background-color: #F9F9FA;
}
.sl-background-color-F09836{
    background-color: #F09836;
}
.sl-height-30px{
     height: 30px;
 }
.sl-height-3rem{
    height: 3rem;
}
.sl-width-30px{
    width: 30px;
}
.sl-width-percent50{
    width: 50%;
}
.sl-width-percent63{
    width: 63%;
}
.sl-border-bottom-1px-solid-D3D3D3{
    border-bottom:1px solid #D3D3D3;
}
.sl-border-bottom-1px-solid-white{
    border-bottom:1px solid #FFFFFF;
}
.sl-border-right-1px-solid-white{
    border-right:1px solid #FFFFFF;
}
.sl-border-top-2px-dashed-gray{
    border-top:2px dashed #AEAEAE;
}
.sl-padding-10px-0px{
    padding: 10px 0px;
}
.sl-margin-10px-10px-0px-10px{
    margin:10px 10px 0px 10px;
}
.sl-icon-color-6D6D6D{
    color: #6D6D6D;
}
.sl-icon-color-CACACA{
    color: #CACACA;
    font-size: larger;
}
.sl-margin-top-20px{
    margin-top: 20px;
}
.sl-margin-top-3rem{
    margin-top: 3rem;
}
.sl-margin-top-2rem{
    margin-top: 2rem;
}
.sl-margin-top-5rem{
    margin-top: 5rem;
}
.sl-margin-top-10px{
    margin-top: 10px;
}
.sl-margin-top-5px{
    margin-top: 5px;
}
.sl-margin-top-30px{
    margin-top: 30px;
}
.sl-margin-30px-0px{
    margin: 30px 0px;
}
.sl-margin-20px-0px{
    margin: 20px 0px;
}
.sl-background-color-FFCC00{
    background-color: #FFCC00;
}
.sl-background-color-F4F5F7{
    background-color: #F4F5F7;
}
.sl-background-color-FFCCCC{
    background-color: #FFCCCC;
}
.sl-background-color-F1F1F1{
    background-color: #F1F1F1;
}
.sl-background-color-F6F6F6{
     background-color: #F6F6F6;
 }
 .sl-font-color-B8B8B8{
     color: #B8B8B8;
 }
.sl-font-color-black{
    color: black;
}
.sl-font-color-D1D1D1{
    color: #D1D1D1;
}
.sl-font-weight-bolder{
    font-weight:bolder;
}
.sl-tab-panel{
    margin:.5rem;
    background-color: white;
    padding: 0.2rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;
}
.sl-border{
    padding: .2rem;
}
.sl-margin-05rem{
    margin:0.5rem;
}

.sl-header{
    color: red;
    margin-left: 0.6rem;
}
.ls-button{
    padding: 0.1rem 0.2rem;
    color: white;
    background-color: red;
    font-size:12px;
}
.sl-width-33percent{
    width: 33%;
    text-align: center
}
.sl-width-33percent-align-right{
    width: 33%;
    text-align: right;
    margin-right:0.4rem;
}
.sl-bottomNav{
    width: 100%;
    background-color: red;
    text-align: center;
    color: white;
    padding: .4rem
}
.sl-border-shadow{
   box-shadow: none;
}
.sl-background-color-red{
    background-color: red;
}
.sl-background-color-ccc{
    background-color: #ccc;
}
.sl-color-red{
    color: red;
}
.sl-width-height-100percent{
    width: 100%;
    height: 100%;
}
.sl-width-6rem{
    width: 6rem;
}
.sl-height-6rem{
    height: 6rem;
}
.sl-width-7rem{
    width: 7rem;
}
.sl-height-7rem{
    height: 7rem;
}
.sl-width-2rem{
    width: 2rem;
}
.sl-width-3rem{
    width: 3rem;
}
.sl-height-2rem{
    height: 2rem;
}
.sl-width-1rem{
    width: 1rem;
}
.sl-width-1px{
    width: 1px;
}
.sl-height-1rem{
    height: 1rem;
}
.sl-width-1dot5rem{
    width: 1.5rem;
}
.sl-height-1dot5rem{
    height: 1.5rem;
}
.sl-width-1dot2rem{
    width: 1.2rem;
}
.sl-height-1dot2rem{
    height: 1.2rem;
}
.sl-display-block{
    display: block;
}
.sl-display-none{
    display: none;
}
.sl-position-fixed{
    position: fixed;
}
.sl-position-absolute{
    position: absolute;
}
.sl-position-relative{
    position: relative;
}
.sl-top-0rem{
    top: 0rem;
}
.sl-top-3rem{
    top: 3rem;
}
.sl-right-0rem{
    right: 0rem;
}
.sl-bottom-0rem{
    bottom:0rem;
}
.sl-bottom-49px{
    bottom: 49px;
}
.sl-left-0rem{
    left: 0rem;
}
.sl-z-Index-10001{
    z-index: 10001;
}
.sl-z-Index-10002{
    z-index: 10002;
}
.sl-z-Index-10003{
    z-index: 10003;
}
.sl-z-Index-10004{
    z-index: 10004;
}
.sl-z-Index-101{
    z-index: 101;
}
.sl-z-Index-102{
    z-index: 102;
}
.sl-z-Index-103{
    z-index: 103;
}
.am-list > li{
    text-align: center;
    border-width: 1px 1px 1px 0px ;
}
.server_list{

}
.server_item{
    float: left;
    text-align: center;
    position: relative;
    width: 45px;
    height:69px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    color: black;
}
.server_item img{
    width:24px;
    height: 24px;
    margin: 0px auto;
}
.service_lk{
    height:55px;
    padding-top: 14px;
    transition: all .15s ease-in-out;

}
li{
    list-style-type: none;
}
.news-item{
    line-height:24px;

}
.slider_bi{
    float: left;
    margin-left: 10px;
    width:390px;
    height: 130px;
    overflow: hidden;
}
.slider_bi_img{
    width: 390px;
    height:130px;
}
.slider_extend{
    height:130px;
    margin-left: -10px;

}
.cate {
    position: relative;
    z-index: 2;
}
.cate_menu{
    overflow: hidden;
    padding: 16px 0px;
    height: 448px;
    background-color: #6e6568;
    color: #fff;
}
.cate_menu_item{
    overflow: hidden;
    padding-left: 12px;
    height: 28px;
    line-height:28px;
}
.cate_menu_item_on{
    background-color: #999395;
}

.cate_menu_lk{
    font-size: 14px;
    color: #fff;
}
.cate_menu_line{
    font-size:12px;
    padding:0px 4px;
}
.cate_pop{
    position: absolute;
    left: 190px;
    top: 0;
    width: 1000px;
    background-color: #f7f7f7;
    border: 1px solid  #f7f7f7;
    min-height:478px;
    -webkit-box-shadow:  2px 0 5px rgba(0,0,0,.3);
    -moz-box-shadow:   2px 0 5px rgba(0,0,0,.3);
    box-shadow:  2px 0 5px rgba(0,0,0,.3);
}
.cate_part{
    padding:20px 0px 10px;
}
.fs{
    z-index: 9;
    margin-bottom: 10px;;
}
.fs, .fs_inner{
    position: relative;
}
.fs_inner{
    z-index:1;
    height:480px;
    background-color: #F6F6F6;

}
.fs_col1, .fs_col2{
    float: left;
}
.fs_col1{
    width: 190px;
    margin-right:10px;
}
.fs_col2{
    width:790px;
}
.fs_col3{
    width:190px;
    float: right;
    height:100%;
    margin-left:10px;
    background-color: #fff;;
}
.grid_c1{
    margin:0 auto;
    width:1190px;
}
.slider_main{
    position: relative;
    margin-bottom: 10px;
    height: 340px;
}
 .slider_item_lk, .slider_item{
    overflow: hidden;
    position: absolute;
    width:100%;
    height:100%;
}
.slider_list{
    overflow: hidden;
    position: absolute;
    width:790px;
    height:340px;
}
.slider_item{
    background-color: #ffffff;
}
.slider_item_img{
    display: block;
    width: 100%;
    height:100%;
}
img{
    border: 0;
    vertical-align: middle;
}
.slider_indicator{
    position: absolute;
    z-index: 1;
    left:50%;
    bottom: 20px;
    background-color:hsla(0,0%,100%,0.3);
    padding: 4px 8px;
    font-size:0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.slider_indicator_btn{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right:10px;
}
.slider_indicator_btn_active{
    background-color: red;
}
.slider_indicator_btn_last{
    margin-right:0px;
}
.slider_main:hover .slider_control_item{
    display: block;
}
.slider_control_prev{
    left:0;
}
.slider_control_next{
    right:0;
}
.slider_control_item{
    display: none;
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 60px;
    line-height:60px;
    margin-top: -30px;
    background-color: rgba(0,0,0,.1);
    top:50%;
    text-align: center;
}
.slider_control_item:hover{
    background: rgba(0,0,0,.6);
}
.slider_control_item i{
    font-size: 20px;
    color: #fff;
    margin-top:20px;
}
.iconfont{
    font-family: iconfont;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
}
em, i {
    font-style: normal;
}
.news{
    overflow: hidden;
    padding:0 15px;
    height: 154px;
}
.news .mod_tab_head{
    padding:8px 0 4px;
    border-bottom:1px solid #e6e6e6;
    position: relative;
    line-height: 14px;
}
.news .mod_tab_head_item{
    color: #333;
    padding-right: 12px;
    padding-left: 12px;
    border-right: 1px solid #dfe0e1;
}
.news .news_first{
    padding-left:0px;
}
.news .news_last{
    padding-right:0;
    border-right:0;
}
.new_tab_active{
    height: 2px;
    width: 28px;
    background: #db192b;
    position: absolute;
    bottom:-1px;/*;//属性定义了定位元素下边边距边界与其包含块下边界之间的编译。没有定义bottom，left，top，right，绝对定位的元素就在原来元素在正常文档流的位置，设置的话，就相对于包含它的父类元素进行定位
                    如果同时定义top，bottom，bottom忽略。left，right同时定义，right忽略*/
    left: -2px;
    -webkit-transition: transform, -web-transform .3s, .3s;
    -moz-transition: transform, -web-transform .3s, .3s;
    -ms-transition: transform, -web-transform .3s, .3s;
    -o-transition: transform, -web-transform .3s, .3s;
    transition: transform, -web-transform .3s, .3s;


}
.news_more{
    position: absolute;
    right: 0px;
}
.mod_tab_content{
    padding: 12px 0px;
}
body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: #666;
}
.news_item{
    line-height: 24px;
    max-width:160px;
    overflow: hidden;
    white-space:nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.service{
    overflow: hidden;
    position: relative;
    height: 210px;
}
.service_entry{
    overflow: hidden;
    width: 190px;
}
.service_list{
    margin-left: -1px;
    height: 210px;
    width:192px;
    overflow: hidden;
}
.service_item{
    float: left;
    position: relative;
    width: 47px;
    border-left: 1px solid #e7e7e7;
    height: 69px;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    overflow: hidden;
}
.service_lk{
    padding-top:14px;/**/
    height: 55px;/*所说的高度就是这个元素的子元素的总共高度（包括子元素的margin，pading，子元素的子元素的总高度）*/
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}
.service_ico{
    width: 24px;
    height:24px;
    background-image:url("../images/service.png");
    -webkit-background-size: 156px 148px;
    background-size: 156px 148px;
    background-repeat:no-repeat;
    margin: 0 auto;
}
/*.service_ico_jiayou, .service_ico_qyg {*/
    /*background-image: url(//misc.360buyimg.com/mtd/pc/index/home/images/sprite_fs@1x.png);*/
    /*background-size: 156px 148px;*/
    /*background-repeat: no-repeat;*/
    /*width: 24px;*/
    /*height: 24px;*/
/*}*/
.service_ico_huafei{
    background-position: 0 -88px;
}
.service_ico_jipiao{
    background-position: 0 -44px;
}
.service_ico_jiudian{
    background-position: -44px -88px;
}
.service_ico_youxi{
    background-position: -88px 0;
}
.service_ico_jiayou{
    background-position: 0 0;
}
.service_ico_qyg {
    background-position: -88px -44px;
}
.service_ico, .service_lk, .service_txt {
    display: block;
}
.service_txt{
    height: 22px;
    line-height:22px;
    border-top:2px solid #fff;
}
.service_corner{
    position: absolute;
    top:0;
    right: 0;
    width: 13px;
    height: 16px;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #e01121;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
/*.service_expend .service_frame .service_corner{*/

/*}*/
.service_expend .service_frame .service_corner{
    transform: translate3d(0,38px,0);
    right: 2px;
    top: 4px;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.service_expend .service_frame .service_lk{
    margin-top: 0px;
    -webkit-transform: translate3d(0,-38px,0);
    -moz-transform: translate3d(0,-38px,0);
    -ms-transform: translate3d(0,-38px,0);
    -o-transform: translate3d(0,-38px,0);
    transform: translate3d(0,-38px,0);
}
.service_expend .service_frame_on .service_txt{
    color: #e01121;
    border-top-color: #e01121;
}
.service_expend .service_frame .service_corner_ico, .service_expend .service_frame .service_corner_txt{
    display: none;
}
.service_pop{
    position: relative;
    width: 190px;
    height: 185px;
    background-color: #fff;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 1s ease-in-out;
}
.service_pop_close{
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
}
.service_pop_item{
    height: 185px;
}
.loading .mod_loading{
    background-image: url('../images/loading.gif');
}
.loading .mod_lazyload .mod_loading{
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.service_expend .service_pop{
    transform: translate3d(0,-185px,0);
}
/*机票的头*/
#squares-jipiao{
    width: 190px;
    height: 185px;
    color: #666;
    font-family: Arial;
}
#squares-jipiao .squares-tab{
    padding:15px 5px 0;
    position: static;
    width:auto;
    height:auto;
    overflow: hidden;
}
#squares-jipiao .squares-tab li.current{

 }
#squares-jipiao .squares-tab li.last{
    margin-right:0;
}
.jp-tab{
    float: left;
    margin-left: 3px;
    font-size: 12px;
    height: 21px;
    color: #000;
    padding: 0px 1px;
}
.jp-tab.active{
    background: url("../images/iframe-san-new.png") center 0 no-repeat;
}
.jp-tab.active a{
    color: #fff;
}
/*清除浮动*/
.clearfix:after{
    clear: both;
}
/*机票的内容*/
.jp-content{
    float: left;
    height: 133px;
    width: 174px;
    padding:8px;
    
}
.tab-content{
    width: 570px;
    height: 149px;
}
.jp-content .select-type label{
    height: 15px;
    line-height: 15px;
    margin-right: 30px;
}
.jp-content .select-type label input{
    vertical-align: middle;
}
.jp-content .select-type label span{
    margin-left: 5px;
}
.select-type{
    margin-bottom: 5px;
}

/*出发到达城市*/
.select-city, .select-date{
    position: relative;
}
.city-area, .date-area{
    float: left;
    width: 130px;
    height: 23px;
    display: inline;
    margin-bottom: 5px;
    position: relative;
}
.start-city, .end-city, .start-date, .end-date{
    height:21px;
    width: 130px;
    line-height: 21px;
    border: 1px solid #ccc;
    padding-left: 52px;
}
.end-date{
    display: none;
}
.search-jp{
    height: 26px;
}
.search-jp-btn{
    float: left;
    width: 60px;
    height: 25px;
    background: #e01222;
    text-align: center;
    margin-right: 5px;
    color: #fff;
    line-height: 25px;
    display: inline-block;
}
.search-jp-btn:hover{
    color: #fff;
}
.search-jp-txt{
    display: inline-block;
    width: 100px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 26px;
}
.area-title, .date-title{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 40px;
    background: #f5f5f5;
    height: 19px;
    line-height: 19px;
    text-align: center;
    color: #999;
}
.change-city{
    background: url("../images/change-city-new.jpg") 0 0 no-repeat ;
    float: left;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 19px;
    margin-left: 5px;
}
.change-city:hover{
    background: url("../images/change-city-new-hover.png") 0 0 no-repeat ;
}

/*城市选择层*/
.squares-jipiao-layer{
    position: absolute;
    z-index: auto;
    display: none;
    background: #ffffff;
    border:1px solid #ccc;
    overflow: hidden;
    /*padding: 10px;*/
    width: 350px;
}
.mt-txt{
    /*padding: 4px;*/
    line-height: 26px;
    color: #ff0000;
    padding: 8px 10px 2px;
}
.squares-jipiao-layer .tab{
    padding-left: 10px;
    height: 21px;
    overflow: visible;
}
.squares-jipiao-layer .mc{
    padding: 7px 0 5px 12px;
    overflow: hidden;
}
.squares-jipiao-layer li{
    float: left;
    margin-right: 1px;
    background: #e6e6e6;
    width:54px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.squares-jipiao-layer li.curr{
    background: #c81623;
}
.squares-jipiao-layer li.curr a:link{
    color: #fff;
}
.squares-jipiao-layer .mc .fn{
    overflow: hidden;
}
.squares-jipiao-layer .mc .fn a{
    width: 64px;
    float: left;
    height: 23px;
    line-height: 23px;
    text-indent: 6px;
    margin-bottom: 2px;
}
.squares-jipiao-layer .mc .fl{
    width: 9px;
    line-height: 24px;
    margin-left: 3px;
    color: #cc0000;
}
.squares-jipiao-layer .mc .clr{
    border-top: 1px dotted #e6e6e6;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.clear, .clr{
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height:0;
    font-size:0;
}
.hide{
    display: none;
}
.fl{
    float: left;
}

/**/
.my-jd{
    position: relative;
}

.show-layer .myJD-dropDown{
    display: block;
}
.myJD-dropDown{
    display: none;
    position: absolute;
    top: 30px;
    left:0;
    background-color: #fff;
    border:1px solid #AEAEAE;
    margin-left: -1px;
}
.show-layer

.frame-right{
    height: 30px;
}
.frame-list{
    /*overflow: hidden;*/
    height: 30px;
}
.frame-lk{
    margin: 0px 2px
}
.frame-item{
    float: left;
    /*margin-right: 8px;*/
    height:30px;
    line-height:30px;
    overflow:visible;
}
.layer-item{
    float: left;
    width: 60px;
    height:auto;
    padding: 10px;

}
.layer-list{
    width: 200px;

}
.layer-right{
    padding-left:20px;
}
.layer-left{
}
.layer-item-list{

}
.layer-item-list-item{
    height:30px;
}
/*鼠标悬浮添加样式*/
.show-layer{
    background-color: #fff;
    border-right: 1px solid #AEAEAE;
    border-left: 1px solid #AEAEAE;
}
.clear-border{
    display: none;
}
.show-layer .clear-border{
    display: block;
    top: -2px;
    width: 74px;
    height: 2px;
    position: absolute;
    background-color: #fff;
}
.space{
    float:left;
    width: 1px;
    height: 10px;
    margin:10px 5px 0;
    background-color: #ccc;
    overflow: hidden;

}
.second-kil-layer{
    width:100%;
    height: 305px;
    margin:10px 0 20px;
}
.second-kill{
    width: 1190px;
    height: 305px;
    margin:0 auto;
}
.second-head{
    height: 55px;
    background: url("../images/seckill_hd.png") no-repeat ;
    color: #FFFFFF;
    padding:0 20px 0 30px;
    position: relative;
}
.second-head-left{
    float: left;
}
.second-head-right{
    float: right;
}
.second-head-left .second-head-left-des{
    background-image: url('../images/sprite_index@1x.png');
    background-position: -190px -48px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;

}
.second-head-left .second-head-left-icon{
    margin-top: 8px;
    margin-right: 8px;
    background-image: url(//misc.360buyimg.com/mtd/pc/index/2.0.0/home/images/sprite_index@1x.png);
    background-position: 0 -40px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 34px;
    height: 40px;
    float: left;

}
.second-head-left-des{
    position: absolute;
    left: -4px;
    top: -4px;

}
.second-head-left-txt{
    float: left;
    font-size: 20px;
    height: 48px;
    line-height: 48px;
    font-family:fzzhengheis-el-gbregular;
    margin-top: 4px;
}
.second-head-left-lk{
    height: 55px;
    line-height: 55px;
    margin-left:10px;
    color: #fff;
}
.second-head-left-lk:hover {
    color: #fff;
}
.second-head-right-current{
    float: left;
    font-size: 16px;
}
.vertical-center{
    float: left;
    font-size: 16px;
    height: 55px;
    line-height:55px;
}
.head-time{
    float: left;
    margin: 10px 5px;
}
.time-hour{
    float: left;
    background: #440106;
    color: red;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0px 5px;
}
.time-num{
    font-size: 20px;
}
.time-semicolon{
    float: left;
    height: 30px;
    width: 16px;
    padding-top:10px;
}
.time-semicolon .semicolon{
    width: 6px;
    height: 6px;
    background: #440106;
    margin-top: 4px;
    margin-left: 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.second-content{
    height: 226px;
    width: 1190px;
    overflow: hidden;
    padding:12px 0px 13px;
    background-color: #FFFFFF;
}
.second-wrapper{
    float: left;
    width: 1000px;
    overflow: hidden;
    position:relative;
}
.list-wrapper{
    float: left;
    overflow: hidden;

}
.list-wrapper-item{
    float: left;
    width: 170px;
    height: 225px;
    padding: 0px 14px 0px 15px;
    border-right:1px solid #AEAEAE;

}
.second-content .special{
    float: right;
    /*width: 190px;*/
    padding:0 10px 0 0;
    position: relative;
}
.sk-special-list{
    width: 180px;
    height: 225px;
    position: relative;
}
.sk-special-item{
    position: absolute;
    top: 0;
    left: 0;
    opacity:0;
    z-index:0;
}
.sk-special-item.active{
    opacity:1;
    z-index:1;
}
.sk-special-lk{
    display: block;
}
.list-wrapper-pic{
    position: relative;
    text-align: center;/*定义a元素中的子元素的文本（包括图片）的水平对齐方式*/
}
.list-wrapper-img{
    width: 130px;
    height: 130px;
    margin:17px 0px;
}
.item-price{
    height: 25px;
    padding: 3px 0;
}
.item-price-new{
    color: red;
    font-size: 18px;
    margin-right: 10px;

}
.item-price-new img{/*有item-price-new类的元素，并且*/
    width: 10px;
    height: 10px;
}
.item-price-old img{
    width: 10px;
    height: 10px;
}
.item-price-old{
    color: #AEAEAE;
    font-size: 10px;
}
.list-wrapper-pic-lk{
    display: block;
}
.sk-item-shadow{
    width: 170px;/*当前盒子的宽度*/
    height: 20px;/*当前盒子的高度*/
    /*background-color: red;*/
    position: absolute;/*当前盒子以包含它的父元素进行定位*/
    left: 0px;/*当前盒子的左边框到父元素左边框的距离是0px*/
    top: 130px;/*当前盒子顶部边框到父元素顶部边框的距离是130px*/
    background-image: url("../images/sprite_index@1x.png");
    background-position: 0 0;/*以左上角为坐标轴，指定图片的左上角的点在当前盒子的左上角的点的位置，（图片在盒子的下面）*/
    background-repeat:no-repeat;/*如何在当前盒子平铺背景图片*/
    /*-webkit-background-size: 218px 188px;!*如果指定图片的高度和宽度，那么图片从原来的高度和宽度压缩到指定的高度和宽度。      如果背景图片的高度和宽度 小于 当前盒子的高度和宽度，需要考虑平铺的可能。如果背景图片的高度和*/
                                            /*宽度大于当前盒子的高度和宽度。当前盒子的背景图就是背景图片的一部分。*!*/
    /*background-size: 218px 188px;*/
}
.sk-item-tag{
    position: absolute;/*默认值是static，相对于static定位以外的第一个父元素进行定位（意思是从当前元素往上找祖先元素，找到position的值不是static的元素，就已该元素进行绝对定位）*/
    top: 0;
    left: 0;
    width: 30px;
    height: 40px;
    background-image: url('../images/sprite_index@1x.png');
    background-position: -54px -40px;
    background-repeat: no-repeat;
}
.tag-txt{
    color: #FFFFFF;/*当前盒子里字体的颜色是白色*/
    font-size: 12px;/*当前盒子的字体的大小*/
    line-height:14px;/*1，normal1：默认，合理的行间距。2，number，如果是数字，数字会与当前的字体尺寸相称来设置行间距。3，length，设置固定的行间距。4，%，基于当前的字体尺寸的百分比来设置行间距。5，inherit
                            应该从父元素继承line-height属性的值*/
}
.sk-item-name{
    text-align: left;
    /*display: block;!*定义生成框的类型。1，none:次元素不会被显示。2，block:此元素将显示为快级元素，此元素前后会带有换行符。3，inline,display的默认值，此元素显示为内联元素，此元素的前后没有换行符。*!*/
    max-width:100%;/*当前元素的最大宽度（不包括填充padding，边框border，页边距margin）。1,none:默认值，定义对当前元素的最大宽度没有限制。2,lenght:定义当前元素的最大宽度（最大宽度不能大于父类元素的宽度，即使子元素
                        设置的max-width的宽度大于父类的宽度，子元素的宽度等于父类元素的宽度。）。3，%，定义当前元素的最大宽度为父类元素的宽度的百分比。当前元素的宽度等于父类元素的宽度的百分比，当前元素的宽度小于或者
                         等于父类元素的宽度。4，inherit:继承父类的宽度*/
    height: 32px;/*当前元素的高度。*/
    font-size: 12px;/*length:把font-size设置成固定的值*/
    overflow: hidden;/*如果当前元素中的内容溢出当前元素（高度和宽度已经固定），1，visible:默认值，内容不会被修剪，内容会显示在当前盒子之外。2，hidden，内容会被修剪，当前盒子外的内容被隐藏。3，scroll:内容会被修剪，
                        但是浏览器会显示滚动条以便查看其余的内容。4,auto:如果内容别修剪，则浏览器会显示滚动条以便查看其余的内容*/
    text-align: left;/*当前盒子的文本的水平对齐方式*/
    line-height: 16px;/*一行文本的高度，如果行的数量乘以行高大于当前盒子的高度的话，当前盒子的内容会被修剪。*/
    -ms-word-break: break-all;/*指定非CJK脚本的断行规则。1，normal：适用浏览器默认的换行规则。2，break-all：允许在单词内换行。3，keep-all:只能在半角空格或 连字符处换行*/
    word-break: break-all;
    -ms-word-wrap: break-word;/*只在允许的断点字换行（断点字：在一行的末尾剩余的空白不够放一个字，如果放字的话，字的一部分处于当前盒子外面，会被修剪，所有浏览器自动进行换行。）（浏览器默认处理）*/
    word-wrap: break-word;

}
.list-wrapper:hover{
    display: block;
}
.sk-controls-item{
    /*display: block;*/
    position: absolute;
    background: red;
    width: 20px;
    height: 50px;
    font-size: 20px;/*文字的高度是18px*/
    /*text-align: center;*/
    line-height: 50px;
    background:rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
}
.sk-controls-prev{
    top:50%;
    left: 7px;
}
.sk-controls-next{
    top:50%;
    right:7px;
}
.sk-special-indlist{
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0px;
    bottom: 15px;
    z-index: 2;
    text-align: center;
}
.sk-special-inditem{
    margin:0 3px;
    display: inline-block;
    /*float: left;*/
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(0,0,0,1);
}
.sk-special-inditem.active{
    background-color:#e01222
}
.fbt{
    height: 444px;
    margin-bottom: 30px;
}
.fbt-inner{
    width: 1190px;
    margin:0 auto;
    height:444px;
}
.find-good{
    float: left;
    width: 390px;
    height:444px;
    margin-right: 10px;
}
.buy{
    float: left;
    width: 390px;
    height:444px;
    margin-right: 10px;
}
.buy-list{
    float: left;
    width: 390px;
    height:444px;
}
.find-head{
    background-color: #4998a1;
}
.buy-head{
    background-color: #76488e;;
}

.buy-list-head{
    background-color: #e77005;;
}
.find-head span{
    
}
.box-hd{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;

}
.box-hd span{
    font-size: 20px;
    color: #fff;
}
.box-hd a{
    color: #fff;
    position: relative;
    margin-right: 20px;
    font-size: 14px;
}
.box-hd a:hover{
    color: #fff;
}
.box-sub{
    background-image: url("../images/sprite_index@1x.png");
    width: 16px;
    height: 16px;
    background-repeat:no-repeat;
    background-position: -154px -40px;
    position: absolute;
    top: 3px;
    right: -18px;
}
.find-bd{
    background-color: #fff;
    width: 390px;
    height: 389px;
}
.buy-bd{
    width: 390px;
    height: 389px;
    background-color: #fff;
    position: relative;
}
.buy-controls-item{
    position: absolute;
    top: 160px;
    width: 20px;
    height: 35px;
    background-color: #e7e7e7;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    opacity:0;
    z-index:0;
}
.buy-controls-item.active{
    opacity:1;
    z-index:1;
}
.buy-indlist{
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0px;
    bottom: 15px;
    z-index: 2;
    text-align: center;
}

.buy-inditem{
    margin:0 3px;
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(0,0,0,1);
}
.buy-inditem.active{
    background-color:#e01222
}
.sup-page.active{/*没有，空格。表示条件1成立，并且条件2成立的元素才可以使用下列样式表。*/
    opacity:1;
    z-index: 1;
}
.buy-controls-prev{
    left: 0px;
}
.buy-controls-next{
    right: 0px;
}
.sup-page{
    padding-top: 8px;
    width: 390px;
    height: 380px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 0;
}
.sup-des{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 16px;
    color: #666;    
    text-indent: 15px;
}
.sup-lk{
    display: block;
    width: 360px;
    height: 141px;
    padding-top: 18px;
    margin: 0 15px 18px;
    overflow: hidden;
   white-space: nowrap;/*指定元素内部的空白怎么处理1：*/
}
.sup-spe{
    height:1px ;
    width: 330px;
    background-color: #AEAEAE;
    margin:0 auto;
}
.sup-img{
    margin: 0 5px;
    display: inline-block;
    width: 110px;

    line-height: 110px;
}
.find-bd-list{
    height: 363px;
    width: 370px;
    overflow: hidden;
}
.find-bd-item{
    position: relative;
    float: left;
    width: 184px;
    height: 120px;
    border-right:1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.find-item-lk{
    width: 185px;
    height: 120px;
    display: block;
}
.find-item-2, .find-item-4, .find-item-6{
    border-right:0;
}
.find-item-5, .find-item-6{
    border-bottom:0;
}
.find-item-name{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    margin: 20px;
    color:#4998a1;
    font-size: 14px;
}
.find-item-pic{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin:5px;
}
/*排行榜的头*/
.buy-list-bd{
    padding:0px 9px 10px;
    background-color: #fff;
}
.tab-head{
    width: 372px;
    height: 30px;
    position: relative;
    /*white-space:nowrap;*/
    /*word-wrap:break-word;*/
    border-bottom:1px solid #AEAEAE;

}
.tab-list{
    display: block;
}
.tab-item{
    float: left;
    /*width:;*/
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #666;
}
.tab-item-5{
    border-right: 0px;
}
.tab-space{
    width: 1px;
    height: 16px;
    float: left;
    background-color: #AEAEAE;
    margin: 7px 11px 0px;
}
.tab-trans{
    position: absolute;
    width: 56px;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: red;
    margin-bottom: -1px;
    transition: transform .3s;
}
/*start 排行榜的身体*/
.tab-body{
    padding-top:10px;
}
.tab-body-list{
    width: 372px;
    height: 338px;
    display: none;
}
.tab-body-list.active{
    display: block;
}
.tab-body-item{
    float: left;
    border-right:1px solid #AEAEAE;
    border-bottom: 1px solid #AEAEAE;
    width: 123px;
    height: 168px;
}
.tab-body-item-3{
    border-right: 0px;
}
.tab-body-item-5, .tab-body-item-4{
    border-bottom: 0px;
}
.tab-body-item-6{
    border-right: 0px;
    border-bottom: 0px;
}
.tab-body-lk{
    display: block;
    text-align: center;
    position: relative;
}
.tab-body-img{
    width: 100px;
    height: 100px;
    margin:10px 0;
}
.tab-body-txt{
    width: 100px;
    margin-left: 11px;
    font-size: 12px;
    line-height: 17px;
    height: 34px;
    color: #666;
    overflow: hidden;
}
.tab-body-rank{
    position: absolute;
    top: 10px;
    left: 11px;
    width: 30px;
    height: 40px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url("../images/sprite_index@1x.png");
}
.tab-rank-item-1{
    background-position: -104px -40px;
}
.tab-rank-item-2{
    background-position: -50px -100px;
}
.tab-rank-item-3{
    background-position: 0px -100px;
}
.tab-rank-item-4, .tab-rank-item-5, .tab-rank-item-6{
    background-position: -100px -100px;
}
/*end 排行榜的身体*/
/*享受品质*/
.need-ani{
    width:100%;
    height: 100px;
    background-color: #e0e0e0;
    margin-bottom: 30px;
}
.need-inner{
    width: 1190px;
    margin: 0px auto;
}
.qua-item{
    float: left;
}
/*竖行导航栏*/
.vertical-navi{
    width: 30px;
    background-color: #918888;
    position: fixed;
    top:30px;
    left:50px;
}
.navi-item{
    border-bottom:1px solid #b1aaaa;
}
.nava-lk{
    color: #FFFFFF;
    /*padding: 2px;*/
    font-size: 12px;
    height: 30px;
    line-height: 15px;
    width: 30px;
    text-align: center;
}
/**/
.qua{
    height:585px;
    margin-bottom: 20px;
}
/*start 享受品质的标题*/
.qua-title{
    height: 35px;
    padding-bottom: 20px;
}
.qua-title-center{
    width: 1190px;
    margin:0 auto;
    text-align: center;
    font-size: 20px;
}
/*end  享受品质的标题*/
/*享受品质的内容*/
.qua-content{

}
.qua-content-center{
    width: 1190px;
    margin:0 auto;
    height: 530px;
}
.qua-entry{

}
.qua-content-list{

}
.qua-content-item{
    float: left;
    width: 390px;
    height: 170px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.qua-content-audio{
    float: right;
    height: 350px;
    margin-right: 0px;
}
.qua-content-item-1, .qua-content-item-2, .qua-content-item-3, .qua-content-item-4{
    margin-bottom: 0;
}
.qua-content-item-3{
    width: 190px;
}
.qua-content-item-4{
    width: 190px;
    margin-right: 0;
}
.qua-content-img{
    width: 390px;
    height: 170px;
}
.qua-content-lk{
    display: block;
    position: relative;
}
.qua-content-img-1, .qua-content-img-2{
    width: 190px;
    height: 170px;
}
.qua-content-des{
    width:36%;
    height: 170px;
    color: #fff;
    position: absolute;
    background-color: #66B687;
}
.qua-content-info{
    padding-top: 45px;
    margin: 0 auto;
    font-size: 14px;
    width: 100px;
}
.qua-content-info-title{
    border-top: 2px solid #FFFFFF;
    border-bottom:2px solid #FFFFFF;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    font-family: fzzhengheis-el-gbregular;
}
.qua-content-info-outline{
    overflow: hidden;
    margin-top:8px;
    height: 32px;
    line-height: 16px;
}
.qua-content-des-small{
    width:100%;
    height: 80px;
    position: absolute;
    bottom:0;
    left: 0;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #66B687;
}
.qua-content-small-info{
    width: 120px;
    margin: 0 auto;
    padding-top:10px;
}
.qua-content-small-info-title{
    border-top: 2px solid #FFFFFF;
    border-bottom:2px solid #FFFFFF;
    font-size: 18px;
    height: 30px;
    line-height: 30px;/*一行文字所处于的高度（包括padding和内容，不包括border边界）*/
    text-align: center;
    font-weight: 400;
    font-family: fzzhengheis-el-gbregular;
    overflow: hidden;
}
.qua-content-small-info-outline{
    overflow: hidden;
    margin-top:8px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
/*享受品质直播*/
.live-entry{
    position: relative;
    width: 390px;
    height: 350px;
}
.live-list{
    width:100%;
    height: 100%;
}

.live-item{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.live-item.active{
    opacity: 1;
}


